@model K8s.PodIp.Models.PodInfo

@{
    Layout = "_Layout";
}

@section bodyStyles{
    background-color: @Model.Color;
}

<div class="content-wrapper">
    <div class="content">
        <div class="item dark">
            @Model.Ip
        </div>
        <div class="item light"> 
            @Model.Ip
        </div>
    </div>
</div>
<footer>
    <div>
        <a href="https://hub.docker.com/r/lucianogoncalves/k8s.podip">Docker hub image</a> (v1.25)
    </div>
</footer>
