<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="NOODP"/>
        <style>
            body {
                margin: 0;
                font-family: 'Courier New', Courier, monospace;
                @RenderSection("bodyStyles", required: false)
            }

            .content-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .item {
                font-size: 50px;
                max-width: 100%;
                text-align: center;
            }

            .item.light {
                color: #000;
            }

            .item.dark {
                color: #FFF;
            }

            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                padding: 15px;
                background-color: #c0c0c0;
            }

            footer a {
                color: #000;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>